body{
background-image: url(photo\ bage.jpg);
background-size: cover;


}
h1{
text-align: center;
color: darkorange;

}

p{
    
    font-size: x-large;
    color: deeppink;
    text-align: center;
    

}